@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Poiret+One&display=swap");

.AltNav {
    box-shadow: 2px 2px 2px rgba(125, 125, 125, 0.5);
    overflow: hidden;
    background-color: #ebd6fb;
}

.BussName {
    font-family: "Lavishly Yours", cursive;
    font-weight: 600;
    letter-spacing: 0.5;
    text-shadow: 0 0 8px rgba(255, 201, 0, 0.5), 0 0 16px rgba(255, 201, 0, 0.5);
}

.navbarToggler {
    border-radius: 2px;
    border: 1px solid gray;
    background: linear-gradient(135deg, rgba(255, 217, 61, 0.2),  rgba(255, 201, 0, 0.3) );
    box-shadow: 2px 2px 2px rgba(125, 125, 125, 0.3);
}

.PageLinkActive {
    text-decoration: underline 2px #ffc900;
}

.PageLink,
.PageLinkActive {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
}

.PageLinkActive:hover {
    text-decoration: underline 3px #ffc900;
    font-weight: 500;
}

.PageLink:hover {
    text-decoration: underline 3px #ffc900;
    font-weight: 500;
}
