.AppWrapper {
    background-color: #EBD6FB;
    padding: 0;
}

.heroImageWrapper {
    position: relative;
    width: 100%;
    height: 50vh;
    max-height: 50vh;
    overflow: hidden;
}

.heroImage {
    object-fit: cover;
    object-position: center top;
}

@media (max-width: 768px) {
    .heroImageWrapper {
        height: 33vh;
    }
}