.firstSection {
    position: relative;
    z-index: 2;
    min-height: 30vh;
    background: transparent;
}

.subSectionTransparent {
    position: relative;
    z-index: 2;
    min-height: 20vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subSectionBlue {
    position: relative;
    z-index: 2;
    min-height: 50vh;
    background: linear-gradient(
        transparent,
        rgba(142, 167, 233, 0.2) 10%,
        rgba(142, 167, 233, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
    padding: 50px 0 50px 0;
}

.ThinBorder {
    border: 1px solid rgba(142, 167, 233, 0.6);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(142, 167, 233, 0.4);
    padding: 15px 15px 15px 15px;
    margin: 0;
}

.SubmitButton {
    border: 3px solid rgba(142, 167, 233, 0.6);
    border-radius: 30px;

    background: linear-gradient(
        135deg,
        rgba(142, 167, 233, 0.75),
        rgba(142, 167, 233, 0.9),
        rgba(142, 167, 233, 0.75),
        rgba(142, 167, 233, 0.9)
    );
    background-size: 200% 200%;
    background-position: left center;

    box-shadow: 0 4px 12px rgba(125, 125, 125, 0.7);
    padding: 20px 35px;
    font-size: 25px;

    transition:
        background-position 0.4s ease-in-out,
        border 0.25s ease-in-out;
}

.SubmitButton:hover {
    border: 4px solid #2786d3;
    background-position: right center;
}

@media (max-width: 900px) {
    .SubmitButton {
        padding: 20px 30px 20px 30px;
        font-size: 18px;
    }
}
