/* hero section */
.hero {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

/* background wrapper */
.background {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    background: var(--background);
}

/* actual image layer */
.backgroundInner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    background-image: url("../../../public/images/face.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* overlay */
.backgroundInner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(235, 235, 235, 0.7);
}

/* text layer */
.content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroTitle {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px gray;
}

.HeroName {
    font-size: 7rem;
    font-weight: 800;
    text-shadow: 4px 4px 4px gray;
    margin-top: 200px;
    margin-bottom: 200px;
}

@media (max-width: 768px) {
    .HeroTitle {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .HeroName {
        font-size: 3.5rem;
        font-weight: 800;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
