/* hero section */
.hero {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

/* background wrapper */
.background {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    background: var(--background);
}

/* actual image layer */
.backgroundInner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    background-image: url("../../../public/images/face.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* overlay */
.backgroundInner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(235, 235, 235, 0.70);
}

/* text layer */
.content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
