.NavBar {
    box-shadow: 3px 2px 5px gray;
    background: #fcf8f8;
    font-family: var(--font-heading);
}

.DropIcon {
    box-shadow: 1px 1px 2px gray;
    border-color: gray;
}

.Brand {
    display: flex;
    align-items: center;
    height: 40px;
}

.Brand img {
    display: block;
}
