.NavBar {
    box-shadow: 3px 2px 5px rgba(142, 167, 233, 0.8);
    background: #FCF8F8;
    font-family: var(--font-heading);
}

.DropIcon {
    box-shadow: 1px 1px 2px rgba(142, 167, 233, 0.8);
    border-color: #7286d3;
}

.Brand {
    font-weight: 800;
    text-shadow: 2px 2px 2px lightgray;
}