*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex: 1;
    padding-top: 56px; /* navbar height */
}

h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1.3;
    color: #111;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    p {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 1200px) {
    main {
        padding-left: 20%;
        padding-right: 20%;
    }
}