.firstSection {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
}

.subSectionPurple {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    background: linear-gradient(
        transparent,
        rgba(229, 224, 255, 0.2) 10%,
        rgba(229, 224, 255, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
}

.subSectionBlue {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    background: linear-gradient(
        transparent,
        rgba(142, 167, 233, 0.2) 10%,
        rgba(142, 167, 233, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
}

.subSectionTransparent {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
}

.HeroTitle {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px gray;
}

.HeroName {
    font-size: 7rem;
    font-weight: 800;
    text-shadow: 4px 4px 4px gray;
    margin-top: 200px;
    margin-bottom: 200px;
}

.ThinBorder {
    border: 1px solid #7286d3;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(142, 167, 233, 0.8);
    margin: 0 150px 0 150px;
    padding: 35px 30px 35px 30px;
}

@media (max-width: 900px) {
    .HeroTitle {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .HeroName {
        font-size: 3.5rem;
        font-weight: 800;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .ThinBorder {
        margin: 0 15px 0 15px;
        padding: 25px 20px 25px 20px;
    }
}
