.firstSection {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
}

.subSectionPurple {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: linear-gradient(
        transparent,
        rgba(229, 224, 255, 0.2) 10%,
        rgba(229, 224, 255, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
}

.subSectionPurpleMid {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: linear-gradient(
        rgba(142, 167, 233, 0.2),
        rgba(229, 224, 255, 0.2) 10%,
        rgba(229, 224, 255, 0.2) 90%,
        rgba(142, 167, 233, 0.2) 100%
    );
    display: flex;
    align-items: center;
}

.subSectionPurpleBottom {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: linear-gradient(
        rgba(142, 167, 233, 0.2),
        rgba(229, 224, 255, 0.2) 10%,
        rgba(229, 224, 255, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
}

.subSectionBlue {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: linear-gradient(
        transparent,
        rgba(142, 167, 233, 0.2) 10%,
        rgba(142, 167, 233, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
    padding: 50px 0 50px 0;
}

.subSectionBlueTop {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: linear-gradient(
        transparent,
        rgba(142, 167, 233, 0.2) 10%,
        rgba(142, 167, 233, 0.2) 100%
    );
    display: flex;
    align-items: center;
    padding: 50px 0 50px 0;
}

.subSectionBlueBottom {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: linear-gradient(
        rgba(142, 167, 233, 0.2),
        rgba(142, 167, 233, 0.2) 90%,
        transparent
    );
    display: flex;
    align-items: center;
    padding: 50px 0 50px 0;
}

.subSectionTransparent {
    position: relative;
    z-index: 2;
    min-height: 70vh;
    background: transparent;
    display: flex;
    align-items: center;
}

.subSectionTransparentSmall {
    position: relative;
    z-index: 2;
    min-height: 20vh;
    background: transparent;
    display: flex;
    align-items: center;
}

.HeroTitle {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px gray;
}

.HeroName {
    font-size: 7rem;
    font-weight: 800;
    text-shadow: 4px 4px 4px gray;
    margin-top: 200px;
    margin-bottom: 200px;
}

.ThinBorder {
    border: 1px solid rgba(142, 167, 233, 0.6);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(142, 167, 233, 0.4);
    margin: 0 150px 0 150px;
    padding: 15px !important;
}

.ThinBorderSecond {
    border: 1px solid rgba(142, 167, 233, 0.6);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(142, 167, 233, 0.4);
    padding: 15px 15px 15px 15px;
    margin: 0;
}

.CtaButton {
    border: 3px solid rgba(142, 167, 233, 0.6);
    border-radius: 30px;

    background: linear-gradient(
        135deg,
        rgba(142, 167, 233, 0.75),
        rgba(142, 167, 233, 0.9),
        rgba(142, 167, 233, 0.75),
        rgba(142, 167, 233, 0.9)
    );
    background-size: 200% 200%;
    background-position: left center;

    box-shadow: 0 4px 12px rgba(125, 125, 125, 0.7);
    padding: 25px 35px;
    font-size: 25px;

    transition:
        background-position 0.4s ease-in-out,
        border 0.25s ease-in-out;
}

.CtaButton:hover {
    border: 4px solid #2786d3;
    background-position: right center;
}

.inlineImage {
    position: relative;
    width: 70%;
    height: auto;
    border-radius: 20px;
    filter: grayscale(100%) contrast(0.95) brightness(1.05);
    transition: filter 0.6s ease-in-out;
}

.inlineImage:hover {
    filter: grayscale(0%) contrast(1) brightness(1);
}

@media (max-width: 900px) {
    .HeroTitle {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .HeroName {
        font-size: 3.5rem;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .ThinBorder {
        margin: 0 15px 0 15px;
        padding: 25px 20px 25px 20px;
    }

    .CtaButton {
        padding: 20px 30px 20px 30px;
        font-size: 18px;
    }

    .inlineImage {
        filter: grayscale(10%) contrast(0.95) brightness(0.9);
        border-radius: 10px;
        width: 100%;
    }
}
